@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!DOCTYPE html>

<html>

<body>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <img src="/Content/Images/b.jpg" alt="Alternate Text" />
            <h3>
                <span class="label label-info">Event Name</span>
                <span class="label label-info">Venue</span>
                <span class="label label-info">Date/time</span>
                <div class="btn-group ">
                    <button type="button" class="btn btn-warning">Gallery</button>
                </div>
            </h3>

            <div class="btn-group col-md-push-12">
                <button type="button" class="btn btn-success">Join</button>
            </div>
        </div>
        <div class="col-md-1"> </div>
        <div class="col-md-5">
            <img src="/Content/Images/b.jpg" alt="Alternate Text" />

            <h3>
                <span class="label label-info">Event Name</span>
                <span class="label label-info">Venue</span>
                <span class="label label-info">Date/time</span>
                <div class="btn-group ">
                    <button type="button" class="btn btn-warning">Gallery</button>
                </div>
            </h3>

            <div class="btn-group col-md-push-12">
                <button type="button" class="btn btn-success">Join</button>
            </div>
        </div>
    </div>
    <p></p>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <img src="/Content/Images/b.jpg" alt="Alternate Text" />
            <h3>
                <span class="label label-info">Event Name</span>
                <span class="label label-info">Venue</span>
                <span class="label label-info">Date/time</span>
                <div class="btn-group ">
                    <button type="button" class="btn btn-warning">Gallery</button>
                </div>
            </h3>

            <div class="btn-group col-md-push-12">
                <button type="button" class="btn btn-success">Join</button>
            </div>
        </div>
        <div class="col-md-1"> </div>
        <div class="col-md-5">
            <img src="/Content/Images/b.jpg" alt="Alternate Text" />
            <h3>
                <span class="label label-info">Event Name</span>
                <span class="label label-info">Venue</span>
                <span class="label label-info">Date/time</span>
                <div class="btn-group ">
                    <button type="button" class="btn btn-warning">Gallery</button>
                </div>
            </h3>

            <div class="btn-group col-md-push-12">
                <button type="button" class="btn btn-success">Join</button>
            </div>
        </div>
    </div>

    </div>
</body>
</html>


